
# loadbalancer peering
frontend http-in
        bind *:80
        default_backend servers
                                                         
backend servers
        balance roundrobin
        mode tcp
        stick-table type ip size 20k peers loadbalancer
        server app01 192.168.10.4:80 check  
        server app02 192.168.10.5:80 check
                                                         
peers loadbalancer
        peer lb01 192.168.10.2:1024
        peer lb02 192.168.10.3:1024
